/*
 * IMPLAN Torreón
 *
 * css/cms.css
 */

/*
 * GENERAL
 */
body {
    font-family:Helvetica, sans-serif;
    font-size:14px;
    line-height:1.2;
    margin-top:0;
    padding-bottom:0;
    background-color:#524B48; /* GRIS OSCURO */
}
a         { color:#e2007e; text-decoration:none; }
a:active,
a:visited { color:#e2007e; text-decoration:none; }
a:hover,
a:focus   { color:#e2007e; text-decoration:none; }
h1,
h2,
h3,
h4 {
    font-weight:bold;
}
.panel,
.panel-default,
.panel-group,
.panel-group .panel,
.panel-group .panel-heading {
    border-radius:0px;
    border:0px;
}

/*
 * MENU PRINCIPAL
 */
#menu-principal {
    background-color:#524B48; /* GRIS OSCURO */
    border-bottom:2px solid #ff7500;
    margin-bottom:0;
    color:#AAA;
}
/* OPCIONES DEL MENU */
#menu-principal li a {
    margin-left:4px;
    background-color:#524B48;
    font-weight:bold;
    font-size:11px;
    color:#FFF;
}
#menu-principal .redes-sociales {
    padding-top:8px;
    padding-bottom:4px;
}
#menu-principal li a:active,
#menu-principal li a:visited {
    color:#FFF;
}
#menu-principal li a:hover,
#menu-principal li a:focus {
    color:#FF7300; /* NARANJA INTENSO */
}
/* DROPMENU */
#menu-principal .dropdown-menu {
    background-color:transparent;
    background-image:url("../imagenes/menu-principal-fondo-transparente.png");
}
#menu-principal .dropdown-menu a {
    margin-top:8px;
    margin-bottom:8px;
    background-color:transparent;
    font-weight:bold;
    font-size:11px;
    color:#FFF;
}
#menu-principal .dropdown-menu a:active,
#menu-principal .dropdown-menu a:visited {
    color:#FFF;
}
#menu-principal .dropdown-menu a:hover,
#menu-principal .dropdown-menu a:focus {
    background-image:url("../imagenes/menu-principal-fondo-transparente-hover.png");
    color:#FFF;
}

/*
 * MENU REGIONES SUBINDICES INDICADORES
 */
.menu-subindices-indicadores {
    font-size:12px;
    margin:0;
    color:#000;
}
.menu-subindices-indicadores > .panel-heading {
    padding:0;
    background-color:#524B48; /* GRIS OSCURO */
}
.menu-subindices-indicadores > .panel-heading a {
    padding:8px;
    color:#CCC;
    text-decoration:none;
    display:block;
}
.menu-subindices-indicadores > .panel-collapse {
    background-color:#D1C7C1;
    border:solid 1px #524B48;
}
.menu-subindices-indicadores-block {
    float:left;
    width:20%;
}
.menu-subindices-indicadores ul {
    margin:0;
    padding-top:4px;
    padding-left:0;
}
.menu-subindices-indicadores li {
    margin-top:2px;
    margin-bottom:2px;
    padding-left:0;
    list-style-type:none;
    text-align:left;
}
.menu-subindices-indicadores a         { color:#e2007e; text-decoration:none; display:block; padding:2px; }
.menu-subindices-indicadores a:active,
.menu-subindices-indicadores a:visited { color:#e2007e; text-decoration:none; }
.menu-subindices-indicadores a:hover,
.menu-subindices-indicadores a:focus   { color:#FFF; background-color:#FF7300; }

/*
 * CONTENIDO
 */
#contenido {
    padding:0;
}
#contenido .container {
    padding-top:16px;
    padding-bottom:12px;
    background-color:#FFF;
    color:#444;
}
.img-encabezado {
    padding-bottom:16px;
}
.titulo {
    font-weight:bold;
    border-bottom:2px solid #CCC;
}
/* MENU SECUNDARIO */
.acerca {
    font-size:12px;
    color:#444;
    border:1px solid #888;
    padding:8px;
}
.menu-secundario {
    font-size:12px;
    background-color:#524B48; /* GRIS OSCURO */
    padding:0;
    margin-bottom:16px;
}
.menu-secundario-encabezado {
    border-bottom:1px solid #888;
    color:#888;
    padding:8px 8px 4px 8px;
}
.menu-secundario-grupo {
    list-style:none;
    padding:2px 0 8px 0;
}
.menu-secundario-item {
    position:relative;
    padding:0;
}
.menu-secundario-item a         { color:#CCC; text-decoration:none; display:block; padding:2px 8px 2px 8px; }
.menu-secundario-item a:active,
.menu-secundario-item a:visited { color:#CCC; }
.menu-secundario-item a:hover,
.menu-secundario-item a:focus   { color:#FFF; background-color:#FF7300; }

/*
 * INFERIOR
 */
#inferior {
    margin:0;
    padding-top:8px;
    padding-bottom:8px;
    background-color:#524B48;
    color:#888;
    font-size:12px;
    font-weight:normal;
}
#inferior a         { color:#CCC; text-decoration:none; }
#inferior a:active,
#inferior a:visited { color:#CCC; }
#inferior a:hover,
#inferior a:focus   { color:#FFF; }
.inferior-logo {
    margin-top:36px;
    margin-bottom:8px;
}
/* MAPA DEL SITIO  */
.inferior-mapa {
    margin-top:36px;
    margin-bottom:16px;
    border-right:solid #AAA 2px;
    color:#888;
    height:140px;
}
.inferior-mapa-ultimo {
    border-right:none;
}
.inferior-mapa ul {
    margin:0;
    padding:2px 0 0 0;
}
.inferior-mapa li {
    margin-top:2px;
    margin-bottom:2px;
    padding-left:16px;
    list-style-type:none;
    text-align:left;
}
.inferior-mapa a         { color:#CCC; text-decoration:none; display:block; padding:2px; }
.inferior-mapa a:active,
.inferior-mapa a:visited { color:#CCC; }
.inferior-mapa a:hover,
.inferior-mapa a:focus   { color:#FFF; background-color:#FF7300; }

/*
 * BOTONES
 */
.btn-publicacion-completa,
.btn-publicacion-completa:active,
.btn-publicacion-completa:visited { background-color:#e2007e; border-color:#e2007e; color:#FFF; }
.btn-publicacion-completa:hover,
.btn-publicacion-completa:focus   { background-color:#ff7500; border-color:#000; color:#FFF; }

/*
 * PAGINACION
 */
.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus { background-color:gray; border-color:gray; color:white; }

/*
 * PIE
 */
footer {
    margin:0;
    padding-top:8px;
    padding-bottom:8px;
    background-color:#1b1e25;
    color:#DDD;
    text-align:right;
    font-size:10px;
}
